<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <!-- zk注册中心地址 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181" />

    <dubbo:application name="demo_consumer" />

    <!-- 目标服务的接口名及版本号 -->
    <dubbo:reference id="demoService" interface="com.yjm.test.dubbo.demo.api.DemoService" version="1.0.0" />

</beans>